@media screen and (max-width: 910px) {
    .skills {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

/* @media screen and (max-width: 1025px) {
    .home__viewProject {
        grid-template-columns: 1fr;
    }

    .app-description,
    .image {
        width: 100%;
    }

    .image {
        order: 1;
    }
} */
